@* @model SelectList *@

@* <select class="form-control" id="GuestID"> *@
@*     <option value="">Select a Performer</option> *@
@*     @foreach (var item in Model) *@
@*     { *@
@*         <option value="@item.Value">@item.Text</option> *@
@*     } *@
@* </select> *@


@model SelectList

<option value="">Select a Performer</option>
@foreach (var item in Model)
{
    <option value="@item.Value">@item.Text</option>
}