@model WebApplication2.Models.Performer

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Performer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PerformerTypeID" class="control-label">Performer Type *</label>
                <select asp-for="PerformerTypeID" class="form-control" asp-items="ViewBag.PerformerTypes" required>
                    <option value="">-- Select Performer Type --</option>
                </select>
                <span asp-validation-for="PerformerTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MainGenreID" class="control-label">Main Genre</label>
                <select asp-for="MainGenreID" class="form-control" asp-items="ViewBag.Genres">
                    <option value="">-- Select Main Genre --</option>
                </select>
                <span asp-validation-for="MainGenreID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondaryGenreID" class="control-label">Secondary Genre</label>
                <select asp-for="SecondaryGenreID" class="form-control" asp-items="ViewBag.Genres">
                    <option value="">-- Select Secondary Genre --</option>
                </select>
                <span asp-validation-for="SecondaryGenreID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryCode" class="control-label">Country *</label>
                <select asp-for="CountryCode" class="form-control" asp-items="ViewBag.Countries" required>
                    <option value="">-- Select Country --</option>
                </select>
                <span asp-validation-for="CountryCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
